:root {
    --gray: #f2f1f4;
    --white: #ffffff;
    --black: #000000;
    --uutinen: #252525;
}

* {
    color: var(--fontColor);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg);

    padding: 0;
    margin: 0;
}

header {
    background-color: var(--uutinenbg);

    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;       
    box-sizing: border-box;
    padding-right: 12px;

    position: sticky;
    top: 0;
    z-index: 999;
}

header nav {
    display: flex;
    align-items: center;   
    margin: 10px;       
    gap: 10px;      
    width: 100%; 
}

nav button {
    background-color: transparent;

    color: var(--fontColor);
    border: 0px transparent;

    cursor: pointer;
}

.justify-end {
    justify-content: flex-end; 
}

.light-theme {
    --fontColor: var(--black);
    --uutinenbg: var(--white);
    --bg: var(--gray);
}

.dark-theme {
    --fontColor: var(--white);
    --uutinenbg: var(--uutinen);
    --bg: var(--black);
}

.uutiset {
    column-width: 350px;
    column-gap: 10px;   
    padding: 5px;
}

a {    
    color: black;
    text-decoration: none;
}

.uutinen {
    background-color: var(--uutinenbg);
    display: inline-block;
    width: 100%;          
    margin-bottom: 10px;  
    overflow: hidden;
}

.uutinen:hover {
    box-shadow: 0 0 11px rgb(33, 33, 33, 0.2);
}

img {
    width: 100%;
    display: block;
}


h2, p {
    padding-left: 10px;
    padding-right: 10px; 
}

#darkModeToggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: auto;
}

.previewImage {
    max-width: 300px;
    width: 100%;
    height: auto;
}

#loginFormParent {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 50px);
    width: 100%;
}

.loginForm {
    background-color: var(--uutinenbg);
    border: 1px solid black;
    padding: 16px; 
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
    background-color: var(--uutinenbg);
    color: var(--fontColor); 
    border: 1px solid var(--fontColor);
    padding: 8px;
}

.loginForm input[type="submit"] {
    background-color: var(--fontColor);
    color: var(--uutinenbg);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.warning {
    color: red;
}